Level - 1 : Basic Looping

1. Print numbers from 1 to 10

In [9]:
def numbers(n):
    for i in range(1, n + 1, 1):
        print(i, end=" ")

numbers(10)

1 2 3 4 5 6 7 8 9 10

2. Print all even numebrs from 1 and 100.

In [10]:
def even_numbers(n):
    for i in range(1, n+1, 1):
        if i % 2 == 0:
            print(i, end=" ")

even_numbers(100)

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

3. Print all odd numbers from 1 and 100.

In [11]:
def odd_numbers(n):
    for i in range(1, n+1, 1):
        if i % 2 == 1:
            print(i, end=" ")

odd_numbers(100)

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

4. Print numbers from down 10 to 1.

In [12]:
def number(n):
    for i in range(n, 0, -1):
        print(i, end=" ")
number(10)

10 9 8 7 6 5 4 3 2 1

5. print the tables of a given number (n * 1 to n * 10).

In [13]:
def tables(n):
    for i in range(1, 10+1, 1):
        ans = n * i
        print(f"{n} * {i} = {ans}")
tables(2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

6. Print the sum of first n natural numbers.

In [17]:
def natural(n):
    total = 0
    for i in range(1, n+1, 1):
        total += i
    return total

print(natural(5))
print(natural(3))

15
6

7. Print the sum of all even numbers up to n.

In [18]:
def even(n):
    total = 0
    for i in range(1, n+1, 1):
        if i % 2== 0:
            total += i
    return total

print(even(10))

30

8. Print the sum of all odd numbers up to n.

In [19]:
def odd(n):
    total = 0
    for i in range(1, n+1, 1):
        if i % 2 == 1:
            total += i
    return total

print(odd(10))

25

9. Print the factorial of the given number.

In [20]:
def factorial(n):
    fact = 1
    for i in range(1, n+1, 1):
        fact *= i
    return fact

print(factorial(10))
print(factorial(5))
print(factorial(3))

3628800
120
6

10. Print the product of digits of a given number.

In [21]:
def product(n):
    result = 1
    while n > 0:
        result *= (n % 10)
        n = n // 10
    return result 

print(product(123))
print(product(14234))
print(product(456))

6
96
120